@import "tailwindcss";


html,
body {
  height: 100%;
  margin: 0;
}

body {
  overflow-y: auto;
}

#root {
  min-height: 100%;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}
.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  outline: none;
}

.input:focus {
  border-color: #16a34a;
  box-shadow: 0 0 0 1px #16a34a;
}
